<h1>About</h1>

<p>Projeto da disciplina IF977 - Engenharia de Software, do curso de Sistemas de Informação - CIN (UFPE)</p>

<p>Equipe:</p>

    <p>Gabriel Mac’Hamilton Renaux Alves (Gerente de Projeto e Desenvolvedor front-end)</p>
    <p>Antônio Rodrigues da Mata Neto (Desenvolvedor back-end)</p>
    <p>Tiago Oliveira de Souza (Desenvolvedor back-end)</p>
    <p>Thomás Torreão de Brito Bastos (Desenvolvedor back-end)</p>

<p>Descrição</p>

<p>O projeto tem como objetivo facilitar o acesso das pessoas às academias da
cidade, disponibilizando a academia mais próxima do usuário, os horários das
aulas, telefone para contato, entre outras informações pertinentes ao
estabelecimento. A aplicação utiliza dados abertos de Academias do Recife que
podem ser encontrados neste <a href="http://dados.recife.pe.gov.br/
dataset/academias-da-cidade">link.</a></p>

<p>Justificativa do projeto:</p>

<p>Atualmente as pessoas precisam da prática de exercícios físicos para a
manutenção da saúde, porém, a falta de informações muitas vezes cria um 
empecilho para tais práticas. É aí que entra o Aquidemia! O aplicativo 
será um facilitador para que as pessoas obtenham informações e se motivem
a ir cuidar de sua saúde, usufruindo dos benefícios do serviço das Academias
da Cidade.</p>

<p>Contato:</p>
<al>
<li><a href=https://github.com/gmachamilton>Gabriel</a></li>
<li><a href=https://github.com/ardmn9>Antônio</a></li>
<li><a href=https://github.com/thomastbb>Thomas</a></li>
<li><a href=https://github.com/Tos96>Tiago</a></li>
</al>
