<div class="container">
    <div class="jumbotron">
        <h4>Projeto da disciplina IF977 - Engenharia de Software, do curso de Sistemas de Informação - CIN (UFPE)</h4>
        
        <b>Equipe:</b>
            <p>Gabriel Mac’Hamilton Renaux Alves (Gerente de Projeto e Desenvolvedor front-end)<br />
            Antônio Rodrigues da Mata Neto (Desenvolvedor back-end)<br />
            Tiago Oliveira de Souza (Desenvolvedor back-end)<br />
            Thomás Torreão de Brito Bastos (Desenvolvedor back-end)</p>
        
        <b>Descrição</b>
        
        <p>O projeto tem como objetivo facilitar o acesso das pessoas às academias da
        cidade, disponibilizando a academia mais próxima do usuário, os horários das
        aulas, telefone para contato, entre outras informações pertinentes ao
        estabelecimento. A aplicação utiliza dados abertos de Academias do Recife que
        podem ser encontrados neste <a href="http://dados.recife.pe.gov.br/
        dataset/academias-da-cidade">link.</a></p>
        
        <b>Justificativa do projeto:</b>
        
        <p>Atualmente as pessoas precisam da prática de exercícios físicos para a
        manutenção da saúde, porém, a falta de informações muitas vezes cria um 
        empecilho para tais práticas. É aí que entra o Aquidemia! O aplicativo 
        será um facilitador para que as pessoas obtenham informações e se motivem
        a ir cuidar de sua saúde, usufruindo dos benefícios do serviço das Academias
        da Cidade.</p>
        
        <b>Contato:</b>
        <al>
        <li><a href=https://github.com/gmachamilton>Gabriel</a></li>
        <li><a href=https://github.com/ardmn9>Antônio</a></li>
        <li><a href=https://github.com/thomastbb>Thomas</a></li>
        <li><a href=https://github.com/Tos96>Tiago</a></li>
        </al>
</div>