<!DOCTYPE html>
<html lang='pt-br'>
  <head>
    <meta charset="utf-8">
    <meta name="google-signin-client_id" content="266046558432-sfe2c3p2a2m1172qbnopdb8am904389q.apps.googleusercontent.com">
    
  </head>
  
  <body>
    <div class="container">
      <div class="jumbotron">
        
        <h1 class="display-4">Aquidemia</h1>
        <p class="lead">Encontre academias da cidade mais próximas!</p>
        <hr class="my-4">
        <p></p>
        <p class="lead">
        <% if current_user  %>
          <h3>Welcome, <%= "#{current_user.first_name} #{current_user.last_name}" %></h3>
          <%= link_to "Sair", logout_path %>
        <% else %>
          <%= link_to "Login com Google", "/auth/google" %>
        <% end %>
        </p>
      </div>
      
      
      <p id='msg'></p>
      <script>
      </script>
    </div>
  </body>
</html>