<!DOCTYPE html>
<html lang='pt-br'>
  <style>
  .button {
    background-color: #f44336;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
  .button2 {
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .button2:hover {
    background-color: #f44336; /* Green */
    color: white;
}

  </style>
  
  <head>
    <meta charset="utf-8">
    <meta name="google-signin-client_id" content="266046558432-sfe2c3p2a2m1172qbnopdb8am904389q.apps.googleusercontent.com">
    
  </head>
  
  <body>
    <div class="container">
      <div class="jumbotron">
        
        <h1 class="display-4">Aquidemia</h1>
        <p class="lead">Encontre academias da cidade mais próximas!</p>
        <hr class="my-4">
        <p></p>
        <p class="lead">
         <% if current_user  %>
           <h3>Bem vindo, <%= "#{current_user.first_name} #{current_user.last_name}" %></h3>
           <%= link_to "Sair", logout_path, class: "button2 button2-sucess" %>
         <% else %>
           <a href="/auth/google" class="button"><font color="black">Login com Google</font></a>
         <% end %>
        </p>
      </div>
      
      <p id='msg'></p>
      <script>
      </script>
    </div>
  </body>
</html>
