<!DOCTYPE html>
<html>
<head>
</head>
<body>

<h2>Horarios das academias da cidade</h2>
<table style="width:60%">
  <tr>
    <th>Academias</th>
    <th>Horarios</th>
  </tr>
  <% @gyms.each do |gym| %>
    <tr>
      <td><%= gym.name%></td>    
      <td><%= gym.hour%></td>
    </tr>
  <% end %>
</table>
</html>