<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
      <div class="jumbotron">
        <p class="lead">
        <h2>Notas das academias</h2>
        </p>
      </div>
<table style="width:60%">
  <tr>
    <th>Academias</th>
    <th>Notas</th>
  </tr>
  <% @gyms.each do |gym| %>
    <tr>
      <td><%= gym.name%></td>    
      <td><%= gym.rating%></td>
    </tr>
  <% end %>
</table>
</html>