<!DOCTYPE html>
<html>
  <head>
    <style>
    #map {
      width: 125%;
      height: 600px;
    }
    </style>
  </head>
  <body>
    <div id="map">
    </div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: new google.maps.LatLng(-8.0538900, -34.8811100),
          zoom: 12,
        });
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          handleLocationError(false, infoWindow, map.getCenter());
        }
      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
        "<% @gyms.each do |gym| %>"
          var marker = new google.maps.Marker({
            title: "<%= gym.name %>",
            position: new google.maps.LatLng("<%= gym.latitude %>", "<%= gym.longitude %>")
          });
          marker.setMap(map);
        "<% end %>"
        
        marker.addListener('click', function() {
          map.setZoom(10);
          map.setCenter(marker.getPosition());
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEFL4I3GmmiTxOjSvAKZo2r_E1Pk6weDU&callback=initMap">
    </script>
  </body>
</html>
